* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    color: var(--f1-light);
    background-color: var(--f1-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    margin-top: 5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    flex: 1;
}

.changeButton {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--f1-main);
    color: var(--f1-light);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.changeButton:hover {
    background-color: var(--f1-hover);
    transform: scale(1.1);
}

#logoutBtn {
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}