* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    color: var(--f1-light);
    background-color: var(--f1-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 80%;
    max-width: 900px;
    height: auto;
    padding: 2rem;

    margin: 5rem auto;

    border-radius: 15px;

    background-color: var(--f1-grey);
    color: var(--f1-light);
}

.userDetail {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: xx-large;
}

.inner-div {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: nowrap;
}

#teamSelector {
    background-color: var(--f1-grey);
    color: var(--f1-light);
    text-align: center;
    border: none;
}

.changeButton {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--f1-main);
    color: var(--f1-light);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.changeButton:hover {
    background-color: var(--f1-hover);
    transform: scale(1.1);
}

#logoutBtn {
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}