* {
    margin: 0;
    padding: 0;
}

:root {
    --f1-red: #e10600;
    --f1-dark: #0d0d0d;
    --f1-grey: #1b1b1b;
    --f1-light: #f5f5f5;
    --f1-hover: #b30000;
    --transition: all 0.3s ease;
    --header-color: #b9b9b9;
    --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--f1-light);
    background-color: var(--f1-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    margin-top: 5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    flex: 1;
}

.changeButton {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--f1-red);
    color: var(--f1-light);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.changeButton:hover {
    background-color: var(--f1-hover);
    transform: scale(1.1);
}

#logoutBtn {
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}