.project-container {
    display: flex;
    align-items: center;         
    justify-content: flex-start;  
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 40px 0;
}
/* speak with josh for design plan
* car teams colour background with a image of drivers over?
* small info dump below
* wiki jump 
*/
.project-card-top {
    background: #181515;
    width: 90%;                   
    padding: 20px;
    border-radius: 25px;
    display: flex;
    box-sizing: border-box;

}
/* Change later for colour, holder for now*/
.project-card-top h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    color:  #fff;
    font-size: xxx-large;
}