        :root {
            --f1-red: #e10600;
            --f1-dark: #0d0d0d;
            --f1-grey: #1b1b1b;
            --f1-light: #f5f5f5;
            --f1-hover: #b30000;
            --transition: all 0.3s ease;
            --header-color: #b9b9b9;
            --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }

        body {
            text-align: center;
            font-family: var(--font-family);
            padding-top: 100px;   /* height of header */
            padding-bottom: 100px; /* height of footer */
        }

        #title {
            padding-top: 3rem;
            color: var(--header-color);
        }

        .card-body {
            height: 20rem;
            width: 15rem;
        }

        .card-title {
            font-weight: bold;
        }

        .btn-danger {
            width: 80%;
            background-color: #e10600;
            border: none;
        }

        .placeholder {
            width: 10rem;
            height: 15rem;
        }

        .card {
            transition: ease-in-out 0.3s;
        }

        .card:hover {
            transform: scale(1.1);
        }