:root {
  --f1-red: #e10600;
  --f1-dark: #0d0d0d;
  --f1-grey: #1b1b1b;
  --f1-light: #f5f5f5;
  --f1-hover: #b30000;
  --transition: all 0.3s ease;
  --header-color: #b9b9b9;
  --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-family: var(--font-family);
  text-align: center;
  color: var(--header-color);
  font-size: xxx-large;
}

@media (max-width: 768px) {
  .car-box-mclaren img {
    width: 100%;
    height: auto;
  }

  .car-box-mclaren {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .mclaren p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .mclaren h2{
  text-align: center;
  color: #ff8000;
  font-size: xx-large;
}
.car-box-mclaren {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/mclarenbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
}

.car-box-mclaren:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-ferrari img {
    width: 100%;
    height: auto;
  }

  .car-box-ferrari {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .ferrari p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .ferrari h2{
  text-align: center;
  color: #ff0000;
  font-size: xx-large;
}
.car-box-ferrari {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/ferraribg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
}

.car-box-ferrari:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-redbull img {
    width: 100%;
    height: auto;
  }

  .car-box-redbull {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .redbull p {
    padding: 10% 5%;
    font-size: large;
  }
}

.car-box-redbull {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/redbullbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
}

.car-box-redbull:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}

body .redbull h2{
  text-align: center;
  color: #444899;
  font-size: xx-large;
}

@media (max-width: 768px) {
  .car-box-mercedes img {
    width: 100%;
    height: auto;
  }

  .car-box-mercedes {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .mercedes p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .mercedes h2{
  text-align: center;
  color: #8adfcb;
  font-size: xx-large;
}
.car-box-mercedes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/mercedesbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
}

.car-box-mercedes:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-aston-martin img {
    width: 100%;
    height: auto;
  }

  .car-box-aston-martin {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .aston-martin p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .aston-martin h2{
  text-align: center;
  color: #496f46;
  font-size: xx-large;
}
.car-box-aston-martin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/astonmartinbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
  image-rendering: crisp-edges;
}

.car-box-aston-martin:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-alpine img {
    width: 100%;
    height: auto;
  }

  .car-box-alpine {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .alpine p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .alpine h2{
  text-align: center;
  color: #D96D84;
  font-size: xx-large;
}
.car-box-alpine {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/alpinebg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
  image-rendering: crisp-edges;
}

.car-box-alpine:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-haas img {
    width: 100%;
    height: auto;
  }

  .car-box-haas {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .haas p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .haas h2{
  text-align: center;
  color: #cacaca;
  font-size: xx-large;
}
.car-box-haas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/haasbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
  image-rendering: crisp-edges;
}

.car-box-haas:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-racing-bulls img {
    width: 100%;
    height: auto;
  }

  .car-box-racing-bulls {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .racing-bulls p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .racing-bulls h2{
  text-align: center;
  color: #6d7cff;
  font-size: xx-large;
}
.car-box-racing-bulls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/racingbullsbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
  image-rendering: crisp-edges;
}

.car-box-racing-bulls:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-williams img {
    width: 100%;
    height: auto;
  }

  .car-box-williams {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .williams p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .williams h2{
  text-align: center;
  color: #6d7cff;
  font-size: xx-large;
}
.car-box-williams {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/williamsbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
  image-rendering: crisp-edges;
}

.car-box-williams:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}

@media (max-width: 768px) {
  .car-box-sauber img {
    width: 100%;
    height: auto;
  }

  .car-box-sauber {
    padding: 5px;
    background-size: cover;
    background-position: center;
  }

  .sauber p {
    padding: 10% 5%;
    font-size: large;
  }
}

body .sauber h2{
  text-align: center;
  color: #00ff00;
  font-size: xx-large;
}
.car-box-sauber {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/kicksauberbg.jpg");
  transition: var(--transition);
  padding: 10px 10px;
  image-rendering: crisp-edges;
}

.car-box-sauber:hover {
  background-color: var(--f1-dark);
  transform: scale(1.02);
}
p{
  padding: 5% 20%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: x-large;
}