
/* Reset defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--f1-dark);
  color: var(--f1-light);
}

/* --------------------------
   HEADER & FOOTER
--------------------------- */
header, footer {
  width: 100%;
  background-color: var(--f1-grey);
  padding: 1rem 2rem;
  text-align: center;
  color: var(--f1-light);
}

/* --------------------------
   MAIN CONTAINER
--------------------------- */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1; /* take remaining height */
}

/* --------------------------
   HERO SECTION
--------------------------- */
.hero {
  color: var(--f1-light);
  text-align: center;
  padding: 6rem 2rem;
  width: 100%;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero .btn {
  display: inline-block;
  margin: 0 1rem;
  padding: 1rem 2rem;
  background-color: var(--f1-main);
  color: var(--f1-light);
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
}

.hero .btn:hover {
  background-color: var(--f1-hover);
  transform: scale(1.05);
}

/* --------------------------
   FEATURES SECTION
--------------------------- */
.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 2rem;
  background-color: var(--f1-dark);
  color: var(--f1-light);
  text-decoration: none;
  width: 100%;
}

.feature {
  background-color: var(--f1-grey);
  padding: 2rem;
  flex: 1 1 250px;
  max-width: 300px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  transition: var(--transition);
  color: var(--f1-red);
}

.feature:hover {
  transform: translateY(-5px);
  background-color: var(--f1-main);
  color: var(--f1-light);
}

.feature h3 {
  margin-bottom: 1rem;
  color: var(--f1-main);
}

.feature:hover h3 {
  color: var(--f1-light);
}

.feature p {
  font-size: 1rem;
}

.title-div {
  padding: 2rem;
}

.title-div p {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: xx-large;

}
