* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--f1-dark);
    min-height: 100vh;
    flex-direction: column;
    display: flex;                /* flex container */
    margin: 0;                    /* remove default body margin */
}

.form-container {
    background-color: var(--f1-grey);
    margin: auto auto;
    min-height: 60%;
    min-width: 50%;
    border-radius: 1rem;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex: 1; /* take up remaining space between header/footer */
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
}

#signup-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#signup-form h1 {
    padding: 2rem;
    color: var(--f1-light);
}

.input-field {
    border-radius: 0.3rem;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
}

#teamSelector {
    background-color: var(--f1-grey);
    color: var(--f1-light);
    text-align: center;
    border: none;
}

#submitButton {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--f1-main);
    color: var(--f1-light);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
}

#submitButton:hover {
    background-color: var(--f1-hover);
    transform: scale(1.1);
}